@model MagiVilla_Web.Models.VM.VillaNumberCreateVM

<form asp-action="CreateNewVillaNumber" method="post">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Villa Number</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="VillaNumber.VillaID" class="control-label fs-6"></label>
            </div>
            <div class="col-10 mb-3">
                <select class="form-select" asp-for="VillaNumber.VillaID" asp-items="Model.VillaList">
                    <option value="" disabled>--Select--</option>
                </select>
                <span asp-validation-for="VillaNumber.VillaID" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="VillaNumber.VillaNo" class="control-label fs-6"></label>
            </div>
            <div class="col-10 mb-3">
                <input asp-for="VillaNumber.VillaNo" class="form-control" />
                <span asp-validation-for="VillaNumber.VillaNo" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="VillaNumber.SpecialDetails" class="control-label fs-6"></label>
            </div>
            <div class="col-10 mb-3">
                <textarea asp-for="VillaNumber.SpecialDetails" class="form-control"></textarea>
                <span asp-validation-for="VillaNumber.SpecialDetails" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5 ">
                <input type="submit" value="Create" class="btn-primary btn form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}